body {
    font-size: 1.2em;
    background-color: #caeafa;
}

.head {
    font-size: 2.25em;
    padding-bottom: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
}

.head-container {
    margin: auto;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border: solid 2px black;
    padding: 3%;
    border-radius: 5px;
    background-color: #03a9fc;
    color: #fcf003;
}

.search-container {
    display: flex;
}

.weather-container {
    margin: auto;
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid 2px black;
    padding: 3%;
    background-color: #03a9fc;
    border-radius: 5px;
    width: 300px;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-container p {
    padding-bottom: 5%;
}

.city {
    font-size: 1.25em;
    padding-bottom: 7%;
}

.temp {
    font-weight: bold;
    font-size: 2.75em;
    padding: 1.5%;
}

.forecast {
    width: 85%;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 1em;
    }

    .head {
        font-size: 1.75em;
    }

    .head-container {
        width: 85%;
        padding: 5%;
    }

    .weather-container {
        width: 85%;
        padding: 5%;
    }
}

