body {
    font-size: 1.2em;
    background-color: #caeafa;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.head {
    font-size: 2.25em;
    padding-bottom: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
}

.head-container {
    margin: auto;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border: solid 2px #0279b4;
    padding: 3%;
    border-radius: 5px;
    background-color: #028fd6;
    color: #fcf003;
    box-shadow: 10px 5px 5px #012f4677;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    border: solid 2px #0279b4;
}

.search {
    font-size: 1em;
    position: relative;
    left: 1%;
    width: 68%;
    border: none;
    background-color: transparent;
    outline: none;
}

.search-button {
    padding: 1.75%;
}

.search-container img {
    padding-left: 2%;
    width: 7%;
    height: 7%;
}

.weather-container {
    margin: auto;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px #0279b4;
    padding-top: 1%;
    padding-inline: 3%;
    padding-bottom: 3%;
    background-color: #028fd6;
    border-radius: 5px;
    width: 300px;
    box-shadow: 10px 5px 5px #012f4677;
}

.weather-container #clear {
    position: relative;
    right: 65%;
    width: 200%;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-container p {
    padding-bottom: 5%;
}

.img-container {
    align-self: center;
}

.weather-img {
    width: 150px;

}

.city {
    font-size: 1.66em;
    padding-bottom: 7%;
}

.temp {
    font-weight: bold;
    font-size: 2.75em;
    padding: 1.5%;
}

.forecast {
    width: 85%;
    font-size: 1.25em;
}

.forecast-container {
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    border: solid 2px #0279b4;
    padding-top: 1.75%;
    padding-inline: 3%;
    padding-bottom: 3%;
    background-color: #028fd6;
    border-radius: 5px;
    width: 300px;
    box-shadow: 10px 5px 5px #012f4677;
}

.sub-container {
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.main-container {
    margin: auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forecast-info {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15%;
}

.img-container {
    padding-bottom: 15%;
}

.forecast-temp {
    font-size: 1.33em;
    padding-bottom: 5%;
}

.high-low-temp {
    display: inline-block;
}

.error {
    font-size: 1.25em;
}

.forecast-container #clear {
    position: relative;
    left: 40%;
    width: 65%;
}

/* Alerts */

.alerts-container {
    margin: auto;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px #0279b4;
    padding-top: 1%;
    padding-inline: 3%;
    padding-bottom: 3%;
    background-color: #028fd6;
    border-radius: 5px;
    width: 300px;
    box-shadow: 10px 5px 5px #012f4677;
}

.alert {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 95%;
    padding-bottom: 5%;
}

.alert-title {
    align-self: center;
    font-size: 1.5em;
    text-decoration: underline;
    padding-bottom: 3.33%;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 1em;
    }

    .head {
        font-size: 1.75em;
    }

    .head-container {
        width: 85%;
        padding: 5%;
    }

    .weather-container {
        width: 85%;
        padding: 5%;
    }

    .forecast-container {
        width: 85%;
        padding: 5%;
    }

    .alerts-container {
        width: 85%;
        padding: 5%;
    }
}

